*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

/* nav style sterd */
ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  ul > li >a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
   
  }
.nav-img{
    width: 25px;
}
.containar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5pc;
}

section.conten {
    margin-top: 10pc;
    display: flex;
    margin-left: 10pc;
}

.header-title{
    font-weight: 700;
    font-size: 60px;
}

p.pragarap {
    font-size: 20px;
    color: black;
    padding: 10px;
    gap: 10px;
}
button {
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #ff0080;
    margin-top: 40px;
}
a {
    text-decoration: none;
}
.main-img{
    background-image: url(images/Circle\ design.svg);
}

mg.main-img {
    margin-left: 100px;
}a
.header-title {
    font-weight: 700;
    font-size: 60px;
    margin-right: 80px;
}

webside-img {
    text-align: center;
    margin-top: 150px;
}
img.img-3 {
   height: 50px;
    padding: 35px;
}


.webside-img {
    margin-top: center;
    margin-top: 10pc;
    text-align: center;
    
    border-top: 2px solid;
    border-bottom: 2px solid;
    
    border-color: #ff6565;
    
}
.Collection {
    text-align: center;
    margin-top: 6pc;
}
 
.shoping-card{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     text-align: center;
     /* margin-top: 2pc; */
     padding: 10pc;
}
.star {
    padding: 30px;
}

.shoping-card{
 
        
        border-radius: 8px;
        background: #FFF;
        box-shadow: 4px 4px 30px 4px rgba(1, 0, 0, 0.06);
        gap: 10px;
    }
    span#moere {
        color: #ff0080;
        margin-left: 80pc;
        
    }
    section.Featured {
        display: flex;
        margin-left: 10pc;
        margin-top: 70px;
    }
    .products {
        margin-left: 10pc;
        margin-top: 50px;
    }
 
    a {
        text-decoration: none;
        color: white;
    }
    h3.Featured-title {
        font-weight: 700;
        font-size: 30px;
        padding: 10px;
    }
    p.pragarap-1 {
        padding: 3px;
        font-size: 18px;
    }
  /* main section end */
  /* footer section sterd */
  footer {
    background-color: #ff7b00;
    height: 13pc;
}
.footer {
    color: white;
    
}
img.img4 {
   height: 20px;
    
}
.footer {
    text-align: center;
    padding: 40px;
}
.footer-images {
    text-align: center;
}

  /* footer section end */

  /*  media @media stard*/
  @media only screen and (max-width: 600px) {
    .containar {
      
        flex-direction: column;
    }
    section.conten {
        margin-top: 10pc;
        display: flex;
        margin-left: 10pc;
        flex-direction: column-reverse;
    }
    

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    /* flex-direction: row; */
    margin-left: 110px;
}
img.main-img {
    height: 15pc;
}
.header-title {
   
    margin-right: 10px;
    font-weight: 0;
  font-size: 30px;
}
.shoping-card {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
   
}
section.Featured {
    display: flex;
    /* margin-left: 0px; */
    /* margin-top: 70px; */
    flex-direction: column-reverse;
}
    
  }
  /*  media @media end*/
 
